BODY {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 100%;
}

.script-docs {
	width: 100%;
}

.script-docs > .table-of-contents {
	background-color: rgb(80, 80, 80);
	margin: 16px;
}

.script-docs > .category-section {
	background-color: rgb(80, 80, 80);
	margin: 16px;
}

.toc-title {
	background-color: rgb(200, 200, 200);
	color: rgb(0, 0, 0);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.toc-content {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.toc-name {
	margin: 0;
}

.toc-header {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.toc-link-section {
	padding: 8px;
}

.toc-link {
	color: rgb(240, 240, 240);
	text-decoration: none;
}

.toc-link:hover {
	color: rgb(255, 255, 255);
}

.toc-link:visited {
	color: rgb(240, 240, 240);
}

.return-section {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 16px;
	margin-right: 16px;
}

.footer-section {
	width: 100%;
	font-size: 80%;
	text-align: center;
}

.show-section {
	display: block !important;
}

.dh-content {
	margin-left: 16px;
	margin-right: 16px;
}

.dh-pointer-type {
	background-color: rgb(128, 128, 128);
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 8px;
}

.dh-pointer-type > .dh-pointer-subtype {
	font-size: 80%;
	font-weight: normal;
}

.dh-pointer-type-section {
	margin-left: 16px;
	margin-right: 16px;
}

.dh-pointer {
	background-color: rgb(56, 56, 56);
	border-radius: 4px;
	padding-bottom: 8px;
}

.dh-pointer-name {
	background-color: rgb(80, 80, 80);
	margin-bottom: 8px;
	padding: 8px;
	border-radius: 4px;
}

.dh-pointer-parameter {
	font-style: italic;
}

.dh-pointer > .instructions {
	margin-left: 32px;
	margin-right: 32px;
}

.parameter-name {
	font-weight: bold;
}

.instructions > p {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.parameter-list {
	margin-left: 16px;
}
